/* src/components/Signup.css */

.signup {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure it covers the viewport height */
    align-items: center;
    /* Center the content horizontally */
    justify-content: center;
    /* Center the content vertically */
    background-color: rgb(173, 167, 167);
    font-family: 'Courier New', monospace;
    padding: 20px;
    /* Add some padding around */
}

.signup-form-container {
    width: 100%;
    /* Full width but max-width will control the actual size */
    max-width: 600px;
    /* Increased max-width to accommodate more content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-form {
    width: 100%;
    animation: fadeIn 2s ease-in;
}

.signup-form h2 {
    text-align: center;
    margin: 20px 0;
}

.signup-form input,
.signup-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to right, #88898a, #a9c8f2);
    color: rgb(0, 0, 0);
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-image: linear-gradient(to right, #50b2f0, #2e7cdb);
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

button[type="submit"]:active {
    transform: translateY(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}